{% extends "layout/default.tmpl" %}

{% block content %}
	<img src="/img/error.gif" alt="">

	<hgroup>
		<h1>Something went wrong</h1>
		<h2>Try again or contact bocal</h2>
	</hgroup>

	<a href="/login/fortytwo">Retry</a>
{% endblock %}
