{% extends "layout/default.tmpl" %}

{% block content %}
	<img src="/img/heimdall.gif" alt="Heimdall" width="100">

	<hgroup>
		<h1>Heimdall</h1>
		<h2>42 &leftrightarrow; Discord connector</h2>
	</hgroup>

	<a href="/login/fortytwo">Login</a>
{% endblock %}
